
h3{
   color:aquamarine;

}
p{
   color:brown;
   font-size: larger;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: #f2a5ed;
   width: 400px;
   height: 200px;
   
}
h1{
   color:black
}

